.contentLayout {
	display: flex;
	flex-direction: row;
}
.table {
	flex-grow: 1;
	width: 50%;
}
.form {
	flex-grow: 1;
	width: 50%;
	margin: 20px;
}

.test {
	width: 100px;
	height: 100px;
	color: white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+54,207cca+54,207cca+57,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	// background: -moz-linear-gradient(
	// 	left,
	// 	#1e5799 0%,
	// 	#2989d8 50%,
	// 	#207cca 54%,
	// 	#207cca 54%,
	// 	#207cca 57%,
	// 	#7db9e8 100%
	// ); /* FF3.6-15 */
	// background: -webkit-linear-gradient(
	// 	left,
	// 	#1e5799 0%,
	// 	#2989d8 50%,
	// 	#207cca 54%,
	// 	#207cca 54%,
	// 	#207cca 57%,
	// 	#7db9e8 100%
	// ); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(
	// 	to right,
	// 	#1e5799 0%,
	// 	#2989d8 50%,
	// 	#207cca 54%,
	// 	#207cca 54%,
	// 	#207cca 57%,
	// 	#7db9e8 100%
	// ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	animation: myAnim 2s ease 0s infinite normal forwards;
	box-shadow: 14px 10px 34px 0px rgba(0, 0, 0, 0.63);
	-webkit-box-shadow: 14px 10px 34px 0px rgba(0, 0, 0, 0.63);
	-moz-box-shadow: 14px 10px 34px 0px rgba(0, 0, 0, 0.63);
}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
