<div class="outer-div mat-typography mat-app-background" [class]="theme.value">
	<mat-toolbar class="navbar" color="primary">
		<div>ToDo List Manager</div>
		<div>
			<span>{{ counter$ | async }}</span>
			<span><button mat-raised-button (click)="gotoTasks()">Tasks</button></span>
			<span><button mat-raised-button (click)="gotoUsers()">Users</button></span>
			<span
				><button
					mat-raised-button
					(click)="testFunction()"
					matTooltip="Development test function"
				>
					Test
				</button></span
			>
		</div>
	</mat-toolbar>

	<todo-dyn-side-bar>
		<div dyn-side-bar-bar style="padding: 4px">
			<!-- <button mat-raised-button>Hey!</button> -->
			<todo-theme-selection></todo-theme-selection>
		</div>
		<div dyn-side-bar-content>
			<router-outlet></router-outlet>
		</div>
	</todo-dyn-side-bar>
</div>
